.contenedorReloj{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contenedorReloj .cajaReloj{
    background-color: rgb(67, 67, 68);
    width: 80vw;

}
#reloj{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(223, 223, 248);

}